.login-wraper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #000000;
}

.login-heading{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.login-logo-container {
  padding-bottom: 0;
  margin-top: 1rem;
}

.login-box-wrapper {
  background: #000000;
  color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.login-box {
  background-color: #151B23;
  padding: 2rem;
  border-radius: 1rem;
}

.login-box > div {
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid gainsboro;
  border-radius: 4px;
  background-color: #151B23;
}

.login-btn {
  width: 100%;
}

.pass-box {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  border: 3px solid #151B23;
  border-radius: 1rem;
}
